* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --border: #111111;
    --fill: #5d5d5d;
    height: 100vh;
    background: #0abde3;
}

.panda{
    position: relative;
    height: 360px;
    width: 360px;
    background-color: #c7ecee;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 22px black;
}

.head{
    position: absolute;
    height: 156px;
    width: 172px;
    border: 5px solid #171818;
    background-color: #fff;
    top: 92px;
    left: 96px;
    border-radius: 70% 70% 60% 60% / 80% 80% 60% 60%;
    transform: rotate(0deg);
}

.head .eye{
    position: inherit;
    height: 50px;
    width: 36px;
    background: radial-gradient(circle, #ffffff 10%, transparent 10%) no-repeat,
    radial-gradient(circle, #161313 22%, transparent 22%) no-repeat;
    background-size: 18px 18px, 42px 42px;
    background-position: 14px 10px, 0 2px;
    top: 55px;
    left: 24px;
    background-color: #5d5d5d;
    border-radius: 80% 20% 45% 50%/ 50%;
}

.head .eye.right{
    top: 53px;
    left: 103px;
    transform: scaleX(-1);
}

.head .eye:before{
    content: '';
    position: absolute;
    height: 30px;
    width: 16px;
    background-color: inherit;
    left: 28px;
    border-radius: 0 100% 100% 0 / 50%;
}

head .eye:after{
    content: '';
    position: absolute;
    height: 24px;
    width: 20px;
    background-color: #ffffff;
    top: 22px;
    left: 34px;
    border-radius: 100% 0 0 0 / 100%;
    z-index: 1;
    transform: rotate(8deg);
}

.nose{
    position: absolute;
    height: 14px;
    width: 17px;
    top: 76px;
    left: 73px;
    background-color: #5d5d5d;
    border-radius: 100% / 70% 70% 150% 150%;
    z-index: 2;
}

.nose:before, .nose:after{
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border: 4px solid #171818;
    top: 8px;  
    border-radius: 0 0 10px 3px;
    border-top: 0;
    border-left: 0;
}

.nose:before{
    left: -8px;
}
 .nose:after{
     right: -8px;
     transform: scaleX(-1);
 }

.ears, .ears:before{
    position: absolute;
    height: 52px;
    width: 40px;
    border: 4px solid #171818;
    background-color: #5d5d5d;
    transform: rotate(40deg);
    top: 83px;
    left: 95px;
    border-radius:  70% 0 0 70% / 50% 0 0 50%;
    z-index: -1;
 }

.ears:before{
    content: '';
    transform: rotate(110deg);
    left: 110px;
    top: -83px;
    height: 46px;
    width: 39px;
}

.hand{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 205px;
    left: 96px;
    background-color: #5d5d5d;
    border-radius: 50%;
}

.hand:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #5d5d5d;
    border-radius: 50%;
    top: 4px;
    left: 100px;
}

.stem{
    position: absolute;
    height: 32px;
    width: 300px;
    background-color: #78e08f;
    border: 4px solid #218c74;
    left: 30px;
    top: 232px;
    z-index: -1;
}